* {
    margin: 0;
    padding: 0;
}

.side-background {
    background-color: rgb(32, 28, 28);
    float: left;
    height: 658px;
    width: 50%;
}

.formLoginContainer{
   position: relative;
   top: 200px;
   left: 200px;
}