* {
    margin: 0;
    padding: 0;
}

  body {
  
    overflow: hidden; 
} 
 
.side-background {
    background-color: rgba(32, 28, 28, 0.904);
    float: left;
    height: 658px;
    width: 50%;
}

.formLoginContainer{
  
   left: 200px;
}

